/* Header Styles */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #333;
    color: #fff;
  }
  
  .logo img {
    height: 50px;
  }
  
  .college-name h1 {
    font-size: 24px;
    font-weight: bold;
    margin-left: 10px;
  }
  
  nav ul {
    list-style-type: none;
    display: flex;
  }
  
  nav ul li {
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
  }
/* Footer Styles */
footer {
    background-color: blue;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
    